@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #000000;
    color: #fff;
    height: 100px;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links {
    display: flex;
    align-items: center;
}

.menu__link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu__item {
    list-style: none;
    position: relative;
    padding: 10px;
}

.menu__nesting {
    display: none;
    position: absolute;
    list-style: none;
    left: 0;
    top: 100%;
    background-color: rgb(134, 153, 57);
    z-index: 10;
    width: max-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto dentro */
    padding: 5px;
}

.menu__inside {
    text-align: center; /* Asegura que los elementos internos estén centrados */
    width: 100%;
}

.menu__item:hover .menu__nesting {
    display: block;
}

.menu__arrow {
    width: 12px;
    height: 12px;
    margin-left: 5px;
    vertical-align: middle;
    transform: rotate(-90deg);  /* Aseguramos que apunten hacia abajo por defecto */
    transition: transform 0.3s ease-in-out;  /* Animación suave */
}

.menu__item:hover .menu__arrow {
    transform: rotate(0deg);  /* Rota las flechas 180 grados al pasar el mouse */
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.menu__icon_static {
    width: 30px;
    height: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.description {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.description.visible {
    display: block;
}